[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypitunatsinghuaedu"

[dev-packages]

[packages]
requests = "*"
selenium = "*"
numpy = "*"
jinja2 = "*"
neo4j = "*"
opencv-python = {version = "*", index = "pypitunatsinghuaedu"}
